<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: auto;">
<!--xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en"-->
<head>
    <div th:fragment="headerfiles">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/datatables/datatables.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/afst_temp.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/afst_temp_responsive.css}" />
    </div>
    <title th:text="#{portal.title}">Kops e-Portal</title>
</head>

<body class="skin-blue sidebar-mini" style="height: auto;">
    <!--start wrapper-->
    <div class="wrapper" style="overflow-y: hidden; height: auto;">
        <cmm-top-area th:fragment="header">
            <header class="main-header" style="background: #4c7188">
                <a class="logo" style="background: #4c7188; cursor: pointer;">
                    <span class="logo-lg"><strong class="logo_real"><span class="blind" th:text="#{portal.title}">Kops Portal</span></strong></span>
                </a>

                <nav class="navbar navbar-static-top" style="background: #4c7188">
                    <a class="sidebar-toggle" data-toggle="offcanvas" th:href="@{/agent-banking/}" id="sidebar-toggle" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div style="float:left;">
                        <cmm-top-menu>
                            <ul class="topmenubar">
                                <li class="topmenuLI">
                                    <a class="menu_deth"><i class="fa "></i><span th:text="#{portal.title}">Kops Portal</span></a>
                                </li>
                            </ul>
                        </cmm-top-menu>
                    </div>
                    <a class="m_sidebar-toggle" data-toggle="offcanvas" th:href="@{/agent-banking/}" id="m_sidebar-toggle" role="button">
                        <span class="sr-only">Toggle navigation2</span>
                    </a>
                    <cmm-navbar>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown messages-menu">
                                    <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/agent-banking/}" placement="bottom">
                                        <i class="fa fa-globe"></i>
                                        <span class="label label-warning">Lang</span>
                                    </a>
                                    <ul class="dropdown-menu custommm_ty2">
                                        <li class="header"><span class="hero_badge"><i class="fa fa fa-globe"></i></span> <span th:text="#{lang.change}" th:remove="tag">Language</span></li>
                                        <li>
                                            <ul class="menu">
                                                <li>
                                                    <a href="javascript:;">
                                                        <div class="inner">
                                                            <div class="inner_cont">
                                                                <span class="cont_list locales" data-locale="en" th:text="#{lang.eng}">English</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <div class="inner">
                                                            <div class="inner_cont">
                                                                <span class="cont_list locales" data-locale="fr" th:text="#{lang.fr}">Français</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li style="cursor: pointer;">
                                    <a class="logout" th:href="@{/logout}"><i class="fa fa-power-off"></i><span th:text="#{portal.signout}">Déconnexion</span></a>
                                </li>
                            </ul>
                        </div>
                    </cmm-navbar>
                </nav>
            </header>
        </cmm-top-area>

        <cmm-left-area th:fragment="sidebar">
            <aside class="main-sidebar">
                <section class="sidebar">
                    <div class="login_lot login_lot_tp">
                        <ul class="login_action">
                            <li style="alignment: top; color: white; font-size: medium">
                                <span class="username" sec:authorize="isAuthenticated()"><i class="fa"></i><span sec:authentication="name"></span></span>
                            </li>
                            <!--<li><span class="username" th:if="${login}" th:text="${login}">username</span></li>-->
                        </ul>
                        <ul class="sidebar-menu">
                            <li class="header" th:text="#{navigation.title}">Navigation Principale</li>
                            <li th:class="${parentMenuHighlight == 'notices-index'}? 'treeview active' : 'treeview'">
                                <a>
                                    <i class="fa fa-folder"></i> <span th:text="#{notice.label}">Avis de paiement</span>
                                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                </a>

                                <ul class="treeview-menu">
                                   <li th:class="${menuHighlight == 'notices-unpaid'}? 'active' : ''">
                                        <a th:href="@{/agent-banking/list-unpaid-customs}">
                                            <i class="fa fa-circle-o"></i> <span th:text="#{notice.unpaid.list.label}">Avis non Payes</span>
                                        </a>
                                    </li>
                                    <li th:class="${menuHighlight == 'notices-paid'}? 'active' : ''">
                                        <a th:href="@{/agent-banking/list-paid-customs}">
                                            <i class="fa fa-circle-o"></i> <span th:text="#{notice.paid.list.label}">Avis payes</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>
            </aside>
        </cmm-left-area>



        <div class="content-wrapper sub-style" style="min-height: 665.8px; background-color: #fff">
        </div>

        <cmm-bottom-area th:fragment="footer">
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    Design, Implementation of Kops e-Payment
                </div>
                <!--th:text="#{app.copyright}"-->
                <strong> <span >Copyright © 2019</span> <a th:href="@{/agent-banking/}" th:text="#{apps.title}">Kops Portal</a>.</strong> All rights reserved.
            </footer>
        </cmm-bottom-area>

    </div>
    <!-- end wrapper-->
    <div th:fragment="footerfiles">
        <script type="text/javascript" th:src="@{/js/inline.js}"></script>
        <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
        <script type="text/javascript" th:src="@{/js/vendor.js}"></script>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>

        <script type="text/javascript" th:src="@{/vendor/datatables/datatables.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/afst_temp.js}"></script>
    </div>
</body>
</html>