@media (max-width: 768px){
 div.dataTables_wrapper div.dataTables_paginate  {
    float: left;
    width: 100% ;
    text-align: center;
 }

 div.dataTables_wrapper div.dataTables_length {
    float: right;
    width: auto;
 }
}

@media (min-width:768px) {
	.details-control-child .form-group {
		display: block;
    }
}