<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <!--/*/ <th:block th:include="page_tpl_fragment :: headerfiles"></th:block> /*/-->
    <title th:text="#{portal.title}">Customs E-portal</title>
</head>
<body class="skin-blue sidebar-mini" style="height: auto;">
<!--start wrapper-->
<div class="wrapper" style="overflow-y: hidden; height: auto;">

    <!--/*/ <th:block th:include="page_tpl_fragment :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="page_tpl_fragment :: sidebar"></th:block> /*/-->


    <div class="content-wrapper sub-style" style="min-height: 665.8px; background-color: #fff">
        <care-0501001q>
            <div>
                <cmm-page-header>
                    <section class="content-header">
                        <h1 th:text="#{partner.list.label}">
                            Banking partners
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <a th:href="@{/portal/}"><i class="fa fa-home"></i></a>
                            </li>
                            <li class="active" th:text="#{partner.list.label}">
                                Banking partners
                            </li>
                        </ol>
                    </section>
                </cmm-page-header>
            </div>
            <section class="content">

                <div class="box">
                    <div class="box-body no-padding">
                        <table id="table-bank-js" class="table table--portal" style="width:100%">
                            <thead>
                            <tr>
                                <th th:text="#{bank.code}">Code</th>
                                <th th:text="#{bank.name}">Name</th>
                                <!--<th th:text="#{bank.link}">Link</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bank : ${Partner}">
                                <td th:text="${bank.code}"></td>
                                <!--<td th:text="${bank.name}"></td>-->
                                <td><a th:href="@{${bank.link}}"  th:text="${bank.name}" target="_blank" style="color:blue"></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </section>
        </care-0501001q>
    </div>

    <!--/*/ <th:block th:include="page_tpl_fragment :: footer"></th:block> /*/-->

</div>
<!-- end wrapper-->
<!--/*/ <th:block th:include="page_tpl_fragment :: footerfiles"></th:block> /*/-->
</body>
</html>