<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <!--/*/ <th:block th:include="page_tpl_fragment :: headerfiles"></th:block> /*/-->
    <title th:text="#{portal.title}">Customs E-portal</title>
</head>
<body class="skin-blue sidebar-mini" style="height: auto;">
<!--start wrapper-->
<div class="wrapper" style="overflow-y: hidden; height: auto;">

    <!--/*/ <th:block th:include="page_tpl_fragment :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="page_tpl_fragment :: sidebar"></th:block> /*/-->


    <div class="content-wrapper sub-style" style="min-height: 665.8px; background-color: #fff">

        <care-0501001q>
            <div>
                <cmm-page-header>
                    <section class="content-header">
                        <h1 th:text="#{notice.unpaid.list.label}">
                            Avis non Payes
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <a th:href="@{/portal/}" ><i class="fa fa-home"></i></a>
                            </li>
                            <li><a th:href="@{/portal/list-unpaid-notice}" th:text="#{notice.label}">Avis de paiement</a></li>
                            <li class="active" th:text="#{notice.unpaid.list.label}">Avis non Payes</li>
                        </ol>
                    </section>
                </cmm-page-header>
            </div>

            <section class="content">

                <div class="box box-info">
                    <div th:if="${errorMessage}" th:text="#{__${errorMessage}__}" style="color:red"/>
                    <form class="form-horizontal" th:action="@{/portal/list-unpaid-notice}" th:object="${unpaidNoticeForm}" th:method="post">
                        <div class="box-body no-padding">
                            <div class="row no-margin">
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <cmm-label>
                                            <label class="control-label col-sm-4 label_tit" style="height: 36px;">
                                                <span th:text="#{notice.number}" th:remove="tag">Notice number</span>
                                                <!--<span class="required">*</span>-->
                                            </label>
                                        </cmm-label>
                                        <div class="input-group col-sm-8">
                                            <cmm-textinput>
                                                <input  th:field="*{noticeNumber}"  class="form-control" type="text" placeholder="" style="height: 26px;" />
                                            </cmm-textinput>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <cmm-label>
                                            <label class="control-label col-sm-4 label_tit"  style="height: 36px;">
                                                <span th:text="#{notice.notification.date}">Notification Date</span>
                                            </label>
                                        </cmm-label>
                                        <div class="input-group col-sm-8">
                                            <cmm-textinput>
                                                <input class="form-control"  type="date" th:field="*{notificationDate}" style="height: 26px;" />
                                            </cmm-textinput>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row no-margin">
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <cmm-label>
                                            <label class="control-label col-sm-4 label_tit"  style="height: 36px;">
                                                <span th:text="#{notice.taxpayer.number}" th:remove="tag">Notice number</span>
                                                <!--<span><span class="required">*</span>-->
                                            </label>
                                        </cmm-label>
                                        <div class="input-group col-sm-8">
                                            <cmm-textinput><input class="form-control" th:field="*{taxpayerNumber}" type="text"  placeholder="" style="height: 26px;" />
                                            </cmm-textinput>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <cmm-label>
                                            <label class="control-label col-sm-4 label_tit"  style="height: 36px;">
                                                <span th:text="#{notice.taxpayer.representative.number}">Taxpayer representative number</span>
                                            </label>
                                        </cmm-label>
                                        <div class="input-group col-sm-8">
                                            <cmm-textinput><input class="form-control"  th:field="*{taxpayerRepresentativeNumber}" type="text" placeholder="" style="height: 26px;"/></cmm-textinput>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row no-margin">
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <cmm-label>
                                            <label class="control-label col-sm-4 label_tit"  style="height: 36px;">
                                                <span th:text="#{notice.due.date}">Due date</span>
                                            </label>
                                        </cmm-label>
                                        <div class="input-group col-sm-8">
                                            <cmm-textinput>
                                                <input class="form-control"  type="date" th:field="*{dueDate}" style="height: 26px;" />
                                            </cmm-textinput>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <button class="btn btn-result pull-right" type="submit"><i class="fa fa-search"></i> <span th:text="#{notice.submit}" th:remove="tag">Search</span></button>
                            </div>


                        </div>
                    </form>


                </div>

            </section>
        </care-0501001q>

    </div>

    <!--/*/ <th:block th:include="page_tpl_fragment :: footer"></th:block> /*/-->

</div>
<!-- end wrapper-->
<!--/*/ <th:block th:include="page_tpl_fragment :: footerfiles"></th:block> /*/-->
</body>
</html>