<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        $(document).ready(function () {
            $("#cancelUserAssociationButton").click(function () {
                $("#showAUserAssociationContainer").toggle(1000);
                $("#showAUserAssociationForm").val(false);
            });
        });
    </script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <div th:text="#{admin.user.participant.for}">
            <i class="fa fa-users fa-fw"></i>&nbsp;User Participant Associations for:
            <span th:text="${user.username}  "></span>
        </div>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th th:text="#{user.participant.id}">Id</th>
                            <th th:text="#{user.participant.name}">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.isEmpty(userParticipants)}">
                            <td th:text="#{admin.participant.empty}"></td>
                        </tr>
                        <tr th:each="userParticipant: ${userParticipants}">
                            <td th:text="${userParticipant.participantId}"></td>
                            <td th:text="${userParticipant.participantName}"></td>
                            <td><a
                                    th:href="@{__${'/admin/users/'+ user.userId + '/unlinkAssociation/' +userParticipant.userParticipantAssociationId}__(pageNumber=${currentPage},associationId=${user.userId})}"
                                    th:method="GET"><img
                                    th:src="@{/images/delete.png}" title="Delete Association" th:text="#{admin.participant.delete}"/> </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <div th:include="user/user-association-form">
                </div>
            </div>

        </div>

        <div class="form-group">
            <button class="btn btn-outline btn-danger btn-lg" id="cancelUserAssociationButton" type="reset"
                    value="Cancel" th:text="#{button.cancel}">Cancel
            </button>
        </div>


    </div>
</div>
</body>
</html>