<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        $(document).ready(function () {
            $("#addUser").click(function () {
                var showAddForm = $("#showAddForm").val();
                if (showAddForm == true || showAddForm == 'true') {
                    $("#showAddForm").val(false);
                } else {
                    $("#showAddForm").val(true);
                }
                $("#showUserAddForm").submit();
            });
        });


    </script>
</head>
<body>
<form id="showUserAddForm" action="#" th:action="@{/admin/users}" method="get">
    <input type="hidden" id="showAddForm" name="showAddForm" th:value="${showAddUserForm}"/>
    <input type="hidden" id="pageNumber" name="pageNumber" th:value="${currentPage}"/>
</form>

<div class="panel panel-default">
    <div class="panel-heading">
        <div style="display: inline;" ><span th:text="#{admin.user.list}">Available Users :</span>
            <span th:text="${totalNumberElements}  "></span>

            <div sec:authorize="hasAnyAuthority('NANO_ADMIN')" style="display: inline;" >
                <button type="submit" id="addUser" class="addButton" title="Add User">
                    <img th:src="@{/images/addUser.png}"/>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <div th:unless="${#lists.isEmpty(users)}" class="pagination">
            <div th:each="page : ${pages}" class="paginationPageNumber" style="display: inline;" >
                <div th:switch="${page}" style="display: inline;" >
                    <!--<div>-->
                        <p th:case="${currentPage}">
                            |<b><a th:href="@{/admin/users(pageNumber=${page})}"
                                  class="page gradient" th:text="${page}"> </a>
                            </b>
                        </p>
                        <p th:case="*">
                            |<a th:href="@{/admin/users(pageNumber=${page})}"
                               class="page gradient" th:text="${page}"> </a>
                        </p>
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div th:if="${DeleteMessage}"  th:text="#{__${DeleteMessage}__}" class="alert alert-warning"/>
        <div th:if="${accessDenied}"  th:text="#{__${accessDenied}__}" class="alert alert-warning"/>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{user.username}">Username</th>
                <th th:text="#{user.type}">Type</th>
                <th th:text="#{user.privilege}">Privilege</th>
                <th th:text="#{user.status}">Status</th>
                <th th:text="#{user.loginAttempts}">Login Attempts</th>
                <th th:text="#{user.lastLoginAttempt}">Last Login Attempt</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${totalNumberElements == 0}">
                <td th:text="#{admin.user.empty}"></td>
            </tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="#{__${user.type}__}"></td>
                <td th:text="#{__${user.privilege}__}"></td>
                <td th:text="#{__${user.status}__}"></td>
                <td th:text="${user.loginAttempts}"></td>
                <td th:text="${user.lastLoginAttempt}"></td>
                <div sec:authorize="hasAnyAuthority('NANO_ADMIN')">
                    <td><a
                            th:href="@{/admin/users(editId=${user.userId}, pageNumber=${currentPage})}"
                            th:method="GET"><img
                            th:src="@{/images/edit.png}" title="Edit User" th:text="#{admin.participant.edit}"/> </a></td>
                    <td><a
                            th:href="@{/admin/users/(deleteId=${user.userId})}" th:method="GET">
                        <img th:src="@{/images/delete.png}"
                             alt="Remove User" title="Remove User" th:text="#{admin.participant.remove}"/> </a>
                    </td>
                    <td><a
                            th:href="@{/admin/users(associationId=${user.userId}, pageNumber=${currentPage})}"
                            th:method="GET"><img
                            th:src="@{/images/link.png}" title="User Associations" th:text="#{admin.participant.assoc}"/> </a></td>
                    <td><a
                            th:href="@{__${'/admin/users/' + user.userId + '/unlock'}__(pageNumber=${currentPage})}"
                            th:method="GET"><img
                            th:src="@{/images/_unlock.png}" title="Unlock User" th:text="#{admin.participant.unlock}"/> </a></td>
                    <td><a
                            th:href="@{/admin/users(resetId=${user.userId}, pageNumber=${currentPage})}"
                            th:method="GET"><img
                            th:src="@{/images/resetpassword.png}" title="Reset Password" th:text="#{admin.user.reset.password}"/> </a></td>
                </div>
            </tr>
            </tbody>
        </table>
        </div>

    </div>
</div>

</body>
</html>