<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        $(document).ready(function () {
            $("#addParticipant").click(function () {
                var showParticipantAddForm = $("#showParticipantAddForm").val();
                if (showParticipantAddForm == true || showParticipantAddForm == 'true') {
                    $("#showParticipantAddForm").val(false);
                } else {
                    $("#showParticipantAddForm").val(true);
                }
                $("#participantAddForm").submit();
            });
        });
    </script>

</head>
<body>
<form id="participantAddForm" action="#" th:action="@{/admin/inbound-participants}" method="get">
    <input type="hidden" id="showParticipantAddForm" name="showParticipantAddForm" th:value="${showAddForm}"/>
    <input type="hidden" id="pageNumber" name="pageNumber" th:value="${currentPage}"/>
</form>

<div class="panel panel-default" th:fragment="table-fragment">
    <div class="panel-heading">
        <!--th:text="#{admin.participant.list}"-->
        <div style="display: inline;" ><span th:text="#{admin.participant.list}">Available Participants:</span>
            <span th:text="${totalNumberElements}  "></span>

            <div sec:authorize="hasAnyAuthority('NANO_ADMIN')" style="display: inline;" >
                <button type="submit" id="addParticipant" class="addButton" title="Add Participant">
                    <img th:src="@{/images/add.png}"/>
                </button>
            </div>
        </div>

        <div class="col-sm-6" style="display: inline; float:right;" >
            <form th:action="@{/admin/inbound-participants}" th:object="${searchForm}" th:method="get">
                <div class="form-group">
                    <select  class="select2-search--inline" th:field="*{column}">
                        <option value="NONE">----Select----</option>
                        <option th:each="entry : ${searchMap.entrySet()}" th:value="${entry.key}" th:text="${entry.value}">
                            This will be replaced - is only used for natural templating
                        </option>
                    </select>
                    <input type="text" th:field="*{value}" th:value="${value}" required="true"/>
                    <button class="btn-search" type="submit" id="search" value="Search" th:text="#{button.search}">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-body">

        <div th:if="${SuccessMessage}"  th:text="#{__${SuccessMessage}__}" class="alert alert-success"/>
        <div th:if="${DeleteMessage}"  th:text="#{__${DeleteMessage}__}" class="alert alert-warning"/>
        <div th:if="${errorMessage}"  th:text="#{__${errorMessage}__}" class="alert alert-warning"/>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{inbound.participant.name}">Participant Name</th>
                <th th:text="#{inbound.participant.id}">Participant Id</th>
                <th th:text="#{inbound.participant.code}">Participant Code</th>
                <th th:text="#{inbound.payment.link}">Payment Link</th>
                <!--<th th:text="#{inbound.participant.transaction.type}">Transaction Type</th>-->
                <th th:text="#{inbound.participant.status}">Participant Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${totalNumberElements == 0}">
                <td th:text="#{admin.participant.empty}"></td>
            </tr>
            <tr th:each="inboundParticipant: ${inboundParticipants}">
                <td th:text="${inboundParticipant.participantName}"></td>
                <td th:text="${inboundParticipant.participantId}"></td>
                <td th:text="${inboundParticipant.participantCode}"></td>
                <td th:text="${inboundParticipant.paymentLink}"></td>
                <!--<td th:text="${inboundParticipant.transactionAsync == true? 'ASYNC':'SYNC'}"></td>-->
                <td th:text="#{__${inboundParticipant.participantStatus}__}"></td>
                <div sec:authorize="hasAnyAuthority('NANO_ADMIN')">
                    <td><a
                        th:href="@{/admin/inbound-participants(editId=${inboundParticipant.participantId}, pageNumber=${currentPage})}"
                        th:method="GET"><img
                        th:src="@{/images/edit.png}" title="Edit Participant" th:text="#{admin.participant.edit}"/> </a></td>
                    <!--<td><a-->
                            <!--th:href="@{/admin/inbound-participants(linkId=${inboundParticipant.participantId}, pageNumber=${currentPage})}"-->
                            <!--th:method="GET"><img-->
                            <!--th:src="@{/images/link.png}" title="Link Outbound" th:text="#{admin.participant.link}"/> </a></td>-->
                    <td><a
                            th:href="@{/admin/inbound-participants/(deleteId=${inboundParticipant.participantId})}" th:method="GET">
                        <img th:src="@{/images/delete.png}"
                             alt="Remove Participant" title="Remove Participant" th:text="#{admin.participant.remove}"/> </a>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
        </div>

        <div th:unless="${#lists.isEmpty(inboundParticipants)}" class="pagination">
            <div th:each="page : ${pages}" class="paginationPageNumber" style="display: inline;" >
                <div th:switch="${page}" style="display: inline;" >
                    <!--<div>-->
                    <p th:case="${currentPage}">
                        |<b><a th:href="@{/admin/inbound-participants(pageNumber=${page})}"
                               class="page gradient" th:text="${page}"></a>
                    </b>
                    </p>
                    <p th:case="*">
                        |<a th:href="@{/admin/inbound-participants(pageNumber=${page})}"
                            class="page gradient" th:text="${page}"> </a>
                    </p>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>