<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
</head>
<body>
<div layout:fragment="content" class="row">

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 th:switch="${id}">
                    <span th:case="'1'" th:text="#{admin.declaration-type.title}">Declaration Type</span>
                    <span th:case="'2'" th:text="#{admin.notice-type.title}">Notice Type</span>
                    <span th:case="'3'" th:text="#{admin.payment-category.title}">Payment Category</span>
                    <span th:case="'4'" th:text="#{admin.payment-method.title}">Payment Method</span>
                    <span th:case="'5'" th:text="#{admin.beneficiary.title}">Organism</span>
                    <span th:case="'6'" th:text="#{admin.office.title}">Office</span>
                    <span th:case="*" th:text="#{admin.page.not.found.title}">Page not found</span>
                </h2>
                <!--<h2 th:text="#{admin.base-entity.title}">Base Entity</h2>-->
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div th:include="entities/base-entity-list">
                        </div>
                    </div>

                    <div class="col-lg-4" th:if="${showTypeAddForm == true}" id="addTypeContainer">
                        <div th:include="entities/base-entity-form">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>