<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        $(document).ready(function () {
            $("#cancelTypeButton").click(function () {
                $("#addTypeContainer").toggle(1000);
                $("#showTypeAddForm").val(false);
            });
        });
    </script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
     </div>
    <div class="panel-body">

        <form action="#" th:object="${etlReport}" th:method="get">
            <input type="hidden" id="pageNumber" name="pageNumber" th:value="${currentPage}"/>
            <input type="hidden" id="id" name="id"
                   th:field="*{id}" th:value="${id}"/>

            <div class="form-group">
                <label th:text="#{load.file.report.filename}">File Name</label>
                <input class="form-control" type="text"
                       th:field="*{fileName}" th:value="${fileName}" readonly="true"/>
            </div>

            <div class="form-group">
                <label th:text="#{load.file.report.numberOfLines}">Number Of Lines</label>
                <input class="form-control" type="number"
                       th:field="*{numberOfLines}" th:value="${numberOfLines}"  readonly="true"/>
            </div>

            <div class="form-group">
                <label th:text="#{load.file.report.numberCorrect}">Nnumber Correct</label>
                <input class="form-control" type="number"
                       th:field="*{numberCorrect}" th:value="${numberCorrect}"  readonly="true"/>
            </div>

            <div class="form-group">
                <label th:text="#{load.file.report.numberExisting}">Number Existing</label>
                <input class="form-control" type="number"
                       th:field="*{numberExisting}" th:value="${numberExisting}"  readonly="true"/>
            </div>

            <div class="form-group">
                <label th:text="#{load.file.report.numberRejected}">Number Rejected</label>
                <input class="form-control" type="number"
                       th:field="*{numberRejected}" th:value="${numberRejected}" readonly="true"/>
            </div>

            <div class="form-group">
                <label th:text="#{load.file.report.numberReconciled}">Number Rejected</label>
                <input class="form-control" type="number"
                       th:field="*{numberReconciled}" th:value="${numberReconciled}"  readonly="true"/>
            </div>

            <div class="form-group">
                <label th:text="#{load.file.report.numberFailReconciled}">Number Rejected</label>
                <input class="form-control" type="number"
                       th:field="*{numberFailReconciled}" th:value="${numberFailReconciled}"  readonly="true"/>
            </div>

            <div class="form-group">
                <label th:text="#{load.file.report.referenceDate}">Reference Date</label>
                <input class="form-control" type="text"
                       th:field="*{referenceDate}" th:value="${referenceDate}"  readonly="true"/>
            </div>

            <div class="form-group">
                <label th:text="#{load.file.report.totalAmount}">Total Amount</label>
                <input class="form-control" type="number"
                       th:field="*{totalAmount}" th:value="${totalAmount}" readonly="true"/>
            </div>

            <div class="form-group">
                <label th:text="#{load.file.report.reconciliationReport}">Reconciliation Report</label>
                <textarea class="form-control"
                       th:field="*{reconciliationReport}" th:value="${reconciliationReport}"  readonly="true"/>
            </div>

            <div class="form-group">
                <label th:text="#{load.file.report.loadReport}">Load Report</label>
                <textarea class="form-control"
                       th:field="*{loadReport}" th:value="${loadReport}"  readonly="true"/>
            </div>

            <div class="form-group">
                <label th:text="#{load.file.report.loadFileStatus}">Status</label>
                <input class="form-control" type="text"
                       th:field="*{loadFileStatus}" th:value="${loadFileStatus}"  readonly="true"/>
                <!--<select th:field="*{loadFileStatus}" class="form-control" readonly="true">-->
                    <!--<option-->
                            <!--th:each="fileStatus : ${T(com.nanobnk.epayment.model.attribute.EtlLoadFileStatus).values()}"-->
                            <!--th:value="${fileStatus}"-->
                            <!--th:text="${fileStatus}"></option>-->
                <!--</select>-->
            </div>

            <div class="form-group">
               <button class="btn btn-outline btn-danger btn-lg" id="cancelTypeButton" type="reset"
                        value="Cancel" th:text="#{button.close}">Cancel
                </button>
            </div>

        </form>

    </div>
</div>
</body>
</html>
