<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        $(document).ready(function () {
            $("#addType").click(function () {
                var showTypeAddForm = $("#showTypeAddForm").val();
                if (showTypeAddForm == true || showTypeAddForm == 'true') {
                    $("#showTypeAddForm").val(false);
                } else {
                    $("#showTypeAddForm").val(true);
                }
                $("#typeAddForm").submit();
            });
        });
    </script>
</head>
<body>
<form id="typeAddForm" action="#" th:action="@{/admin/notice-types}" method="get">
    <input type="hidden" id="showTypeAddForm" name="showTypeAddForm"
           th:value="${showTypeAddForm}"/>
    <input type="hidden" id="pageNumber" name="pageNumber" th:value="${currentPage}"/>
</form>

<div class="panel panel-default">
    <div class="panel-heading">
        <div style="display: inline;" ><span th:text="#{admin.notice-type.list}">Available Notice Type:</span>
            <span th:text="${totalNumberElements}  "></span>
            <div sec:authorize="hasAnyAuthority('NANO_ADMIN')" style="display: inline;" >
                <button type="submit" id="addType" class="addButton" title="Add">
                    <img th:src="@{/images/add.png}"/>
                </button>
            </div>
        </div>

        <div class="col-sm-6" style="display: inline;" >
            <form th:action="@{/admin/users}" th:object="${searchForm}" th:method="get">
                <div class="form-group">
                    <select  class="select2-search--inline" th:field="*{column}">
                        <option value="NONE">----Select----</option>
                        <option th:each="entry : ${searchMap.entrySet()}" th:value="${entry.key}" th:text="${entry.value}">
                            This will be replaced - is only used for natural templating
                        </option>
                    </select>
                    <input type="text" th:field="*{value}" th:value="${value}" required="true"/>
                    <button class="btn-search" type="submit" id="search" value="Search" th:text="#{button.search}">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-body">

        <div th:if="${SuccessMessage}"  th:text="#{__${SuccessMessage}__}" class="alert alert-success"/>
        <!--<div th:if="${UpdateMessage}"  th:text="#{__${UpdateMessage}__}" class="alert alert-warning"/>-->
        <div th:if="${DeleteMessage}"  th:text="#{__${DeleteMessage}__}" class="alert alert-warning"/>
        <div th:if="${NotExistbaseEntity}"  th:text="#{__${NotExistbaseEntity}__}" class="alert alert-warning"/>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{base.entity.name}">Name</th>
                <th th:text="#{base.entity.code}">Code</th>
                <th th:text="#{base.entity.id}">Id</th>
                <th th:text="#{base.entity.status}">Status</th>

            </tr>
            </thead>
            <tbody>
            <tr th:if="${totalNumberElements == 0}">
                <td th:text="#{admin.type.empty}"></td>
            </tr>
            <tr th:each="noticeType: ${noticeTypes}">
                <td th:text="${noticeType.name}"></td>
                <td th:text="${noticeType.code}"></td>
                <td th:text="${noticeType.id}"></td>
                <!--<td th:text="${noticeType.status}"></td>-->
                <td th:text="#{__${noticeType.status}__}"></td>
                <div sec:authorize="hasAnyAuthority('NANO_ADMIN')">
                    <td><a
                        th:href="@{/admin/notice-types(editId=${noticeType.id}, pageNumber=${currentPage})}"
                        th:method="GET"><img
                        th:src="@{/images/edit.png}" th:text="#{admin.type.edit}" title="Edit"/> </a>
                    </td>
                    <td><a
                            th:href="@{/admin/notice-types(deleteId=${noticeType.id})}" th:method="GET">
                        <img th:src="@{/images/delete.png}"
                             alt="Remove" title="Remove" th:text="#{admin.participant.remove}"/> </a>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
        </div>

        <div th:unless="${#lists.isEmpty(noticeType)}" class="pagination">
            <div th:each="page : ${pages}" class="paginationPageNumber">
                <div th:switch="${page}">
                    <div>
                        <p th:case="${currentPage}">
                            <b><a th:href="@{/admin/notice-types(pageNumber=${page})}"
                                  class="page gradient"><span th:text="${page}"></span> </a>
                            </b>
                        </p>
                        <p th:case="*">
                            <a th:href="@{/admin/notice-types(pageNumber=${page})}"
                               class="page gradient"><span th:text="${page}"></span> </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>