<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <!--/*/ <th:block th:include="login_fragment :: headerfiles"></th:block> /*/-->
    <title>Customs e-Payment platform - Paid notices</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
    <link th:href="@{/css/notices.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/datatables.css}" type="text/css" rel="stylesheet"/>
</head>
<body class="body body--notices">
<!-- Page Content -->
<div class="container-fluid">
    <div class="page page--notices">
        <div class="row">
            <!--main container-->
            <div id="main-container" class="col-md-10 pt-4">
                <div class="row">
                    <div class="col-md-12">
                        <!--<h2 class="mb-4 header&#45;&#45;primary" th:text="#{customs.paid.list.label}">Paid notices</h2>-->
                        <div class="card w-100">
                            <div class="card-body">
                                <h1 th:text="#{portal.error.page}">Portal Error Page</h1>

                                <div  class="row">
                                    <ul class="row">
                                        <li class="active"><a th:href="@{/login}">Sign in</a></li>
                                    </ul> <br/>
                                    <ul class="row">
                                        <li class="active"><a th:href="@{/portal/}">Home</a></li>
                                    </ul> <br/>
                                </div>

                                <!--  As we are using Thymeleaf, you might consider using
                                      ${#httpServletRequest.requestURL}. But that returns the path
                                      to this error page.  Hence we explicitly add the url to the
                                      Model in some of the example code. -->
                                <p th:if="${url}">
                                    <b>Page:</b> <span th:text="${url}">Page URL</span>
                                </p>

                                <p th:if="${timestamp}" id='created'>
                                    <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
                                </p>

                                <p th:if="${status}">
                                    <b>Response Status:</b> <span th:text="${status}">status-code</span>
                                    <!--<span th:if="${error}" th:text="'('+${error}+')'">error ...</span>-->
                                </p>

                                <p>Application has encountered an error. Please contact support on
                                    ...</p>

                                <!--<p>Support may ask you to right click to view page source.</p>-->

                                <!--
                                  // Hidden Exception Details  - this is not a recommendation, but here is
                                  // how you hide an exception in the page using Thymeleaf
                                  -->
                                <div th:utext="'&lt;!--'" th:remove="tag"></div>
                                <div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
                                <div th:utext="'Exception: ' + ${error}" th:remove="tag">${error}</div>
                                <!--<ul th:remove="tag">-->
                                    <!--<li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span-->
                                            <!--th:utext="${ste}" th:remove="tag">${ste}</span></li>-->
                                <!--</ul>-->
                                <!--<div th:utext="'&#45;&#45;&gt;'" th:remove="tag"></div>-->


                                <!--<div th:substituteby="footer :: copy"></div>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="login_fragment :: footerfiles"></th:block> /*/-->
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
<script type="text/javascript" th:src="@{/js/notices.js}"></script>
</body>
</html>

