<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<!--  xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en"-->
<head>
    <!--/*/ <th:block th:include="login_fragment :: headerfiles"></th:block> /*/-->
    <title>Customs e-Payment Portal Platform</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body class="body body--login">
<!-- Page Content -->
<div class="container-fluid">
    <div class="page page--login">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div th:replace="login_fragment :: loginbranding" />
                <!-- auth form -->
                <div class="card">
                    <div class="card-body">
                        <!-- sign in form-->
                        <div id="signin-container" >
                            <h1 style="margin-top:30px" th:text="#{apps.title}">Customs e-Payment platform</h1>
                            <h2 style="margin-top:30px" th:text="#{modules.title}">PORTAL</h2>
                            <div th:if="${errorMessage}" th:text="#{__${errorMessage}__}" style="color:red"/>

                            <h5 class="card-title header--primary" th:text="#{portal.login.title}">Sign in</h5>
                            <div th:if="${loginMessage}"  th:text="#{__${loginMessage}__}" class="alert alert-warning"/>
                            <!--th:class="signin-container__form mt-4 mb-4"-->
                            <form th:action="@{__${loginFormLink}__}" th:object="${loginForm}" th:method="post" >
                                <div class="form-group">
                                    <input th:type="text" th:field="*{nui}" th:minlength="10" th:maxlength="20" class="form-control"
                                           name="taxpayer-uid" id="taxpayer-uid" th:placeholder="#{notice.taxpayer.nui}" required="required" autofocus="true" />
                                </div>
                                <div class="form-group">
                                    <input th:type="email" th:field="*{email}" th:minlength="10" th:maxlength="30" class="form-control"
                                           name="email" id="email" th:placeholder="Email" required="required" />
                                </div>
                                <div class="form-group">
                                    <select th:field="*{category}" class="form-control" id="category">
                                        <option value="R" th:text="#{notice.taxpayer.representative.type}">Representative</option>
                                        <option value="E" th:text="#{notice.taxpayer.employee.type}">Employee</option>
                                    </select>
                                </div>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <button type="submit" class="btn btn-primary btn--portal w-100" th:text="#{portal.login.signin}">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="login_fragment :: footerfiles"></th:block> /*/-->
</body>
</html>