<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <title>Log In</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <section id="content">
        <h1 style="margin-top:30px" th:text="#{apps.title}">Customs e-Payment platform</h1>
        <h2 style="margin-top:30px" th:text="#{modules.title}">Administration</h2>
        <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red">
            <!--<label ></label>-->
        </div>
        <form action="#" th:action="@{/login}" th:object="${loginForm}"
              th:method="post">

            <div>
                <input type="text" name="username" th:field="*{username}"
                       placeholder="Username" id="username" th:value="${username}"
                       required="required" autocomplete="off"/>
            </div>
            <div>
                <input type="password" name="password" th:field="*{password}"
                       placeholder="Password" th:value="${password}" required="required"
                       id="password" autocomplete="off"/>
            </div>
            <div>
                <input class="myButton" type="submit" value="Log in"/>
            </div>
        </form>
    </section>
</div>
</body>
</html>