<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>ePayment Administration</title>


    <!-- Custom static.css -->

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet"></link>

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet"></link>

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/epayment-administration.css}" rel="stylesheet" type="text/css"></link>

    <!--<link rel="stylesheet" th:href="@{/css/epayment-administration.css}" />-->

    <!-- jQuery -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script th:src="@{/vendor/raphael/raphael.min.js}"></script>
    <script th:src="@{/vendor/morrisjs/morris.min.js}"></script>


    <!-- Custom Theme JavaScript -->
    <script th:src="@{/dist/js/sb-admin-2.js}"></script>

    <!--Javascript for Reports-->
    <script th:src="@{/dist/js/transactions.js}"></script>
</head>

<body>

<div id="wrapper" class="container">

    <!-- 'NANO_ADMIN', 'INBOUND_PARTICIPANT_ADMIN', 'OUTBOUND_PARTICIPANT_ADMIN', 'NANO_READ_ONLY', 'INBOUND_PARTICIPANT_READ_ONLY', 'OUTBOUND_PARTICIPANT_READ_ONLY' -->
    <!-- Navigation -->
    <nav sec:authorize="isAuthenticated()" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">ePayment Administration</a>
            <!--th:text="#{modules.title.entire}"-->
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a th:href="@{/logout}" th:text="#{logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <!--'NANO_ADMIN', 'INBOUND_PARTICIPANT_ADMIN', 'OUTBOUND_PARTICIPANT_ADMIN', 'NANO_READ_ONLY'-->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-item">
                        <select class="form-control form-control-sm" id="locales">
                            <option value=""></option>
                            <option value="en" th:text="#{lang.eng}"></option>
                            <option value="fr" th:text="#{lang.fr}"></option>
                        </select>
                    </li>
                    <li sec:authorize="hasAnyAuthority('NANO_ADMIN', 'NANO_READ_ONLY')">
                        <a th:href="@{/users}" ><i class="fa fa-users fa-fw"></i> Users</a>
                        <!--th:text="#{admin.category.users}"-->
                    </li>

                    <li sec:authorize="hasAnyAuthority('NANO_ADMIN', 'NANO_READ_ONLY')">
                        <a th:href="@{/inbound-participants}" ><i class="fa fa-user-circle"></i> Participants</a>
                        <!--th:text="#{admin.category.inbound}"-->
                    </li>

                    <li sec:authorize="hasAnyAuthority('NANO_ADMIN', 'NANO_READ_ONLY')">
                        <a th:href="@{/outbound-participants}" ><i class="fa fa-user-circle-o"></i>Customs</a>
                        <!--th:text="#{admin.category.outbound}"-->
                    </li>

                    <li sec:authorize="hasAnyAuthority('NANO_ADMIN', 'NANO_READ_ONLY')">
                        <a th:href="@{/export-settings}" ><i class="fa fa-users fa-fw"></i> Export Settings</a>
                        <!--th:text="#{admin.category.export}"-->
                    </li>
                    <li sec:authorize="hasAnyAuthority('NANO_ADMIN', 'NANO_READ_ONLY')">
                        <a th:href="@{/user/import-settings}" ><i class="fa fa-users fa-fw"></i> Import Settings</a>
                        <!--th:text="#{admin.category.import}"-->
                    </li>
                    <!--<li sec:authorize="hasAnyAuthority('NANO_ADMIN', 'NANO_READ_ONLY')">-->
                        <!--<a th:href="@{/fees}"><i class="fa fa-th-list"></i> Fees</a>-->
                    <!--</li>-->

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 sec:authorize="isAuthenticated()" layout:fragment="header" >ePayment Administration</h1>
                <!--th:text="#{modules.title.entire}"-->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div layout:fragment="content" class="row" >Fake content</div>
        <!--th:text="#{module.fake.content}"-->


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!--For Internationalization-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('/epayment-administration/lang?lang=' + selectedOption);
            }
        });
    });
</script>

</body>

</html>
