<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<!--xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en"-->
<head th:fragment="headerfiles">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="ePayment"/>
    <meta name="author" content="ePayment"/>

    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor2/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

<body class="body body--login">

<!-- Page Content -->
<div class="container-fluid">
    <div class="page page--login">
        <div class="row">
            <div class="col-md-4 offset-md-4">

                <!-- logo -->
                    <div th:fragment="loginbranding" class="row">
                        <div id="logo-container" class="w-100 mb-4 mt-4 text-center">
                            <img th:src="@{/img/logo-small.png}" alt="logo"/>
                            <!--<h4 class="nav-item"><b>Customs e-Payment System</b></h4>-->
                        </div>
                    </div>



            </div>
        </div>

    </div>
</div>

<div th:fragment="footerfiles">
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" th:src="@{/vendor2/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor2/bootstrap/js/bootstrap.bundle.min.js}"></script>
</div>

</body>
</html>