html {
    font-size: 14px;
}
body {
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

.body {
    background-color: #f2f3f8;
}

.card {
    border: none;
}

#main-header {
    height: 40px;
}

#brand-container {
    background-color: #d44533;
}
.navbar--portal {
    height: 40px;

    font-weight: bold;
}

.navbar--portal .active {
    color: #fcd116;
}

.nav-container__brand:hover {
    color:#fff;
}


#nav-container, .navbar--portal {
    background-color: #c33726!important;
}

.navbar--portal, .navbar--portal .navbar-brand, .navbar--portal a, .navbar--portal .navbar-brand:hover {
    color: #fff;
}

#menu-container {
    background-color: #1e1e2d;
}

a:hover {
    text-decoration: none;
}

/* typography */
.header--primary {
    color: #19be9d;
}

a, a:hover, .page-link {
    color: #dd4b39;
}

.page-item.active .page-link {
    background-color: #fcd116 ;
    border-color: #fcd116 ;
}


/* forms */
.form-control {
    border: 1px solid #1b998b;
    color: #303030;
}

.btn, .btn--portal {
    font-weight: 600;
}

.btn--portal {
    background: url(../img/button-bg.png) right 0/215px 105px no-repeat #1b998b;
    border: none;
}

.btn--portal:not(:disabled):not(.disabled):active, .btn--portal:hover {
    background-color: #1b998b;
    border:none;
}


/** sidebar **/

#sidebar a {
    color: #b8c7ce;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-height: 100vh;
    color: #fff;
    transition: all 0.3s;
    background: url(../img/button-bg.png) 31px -85px no-repeat;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #384156;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    border-left:3px solid transparent;
}
#sidebar ul li a:hover, #sidebar ul li.active > a {
    background: #384156;
    border-left-color: #dd4b39;
    color: #fff
}

#sidebar ul li > ul li a:hover, #sidebar ul li > ul li.active a{
    background: #1e1e2d;
    border-left-color: transparent;
    color: #fcd116;
}

#sidebar ul ul a {
    padding-left: 30px;
}

.page-item .page-link, .page-item.disabled .page-link {
    border-color: transparent;
}

#locales {
    border: none;
    margin-top: 4px;
}
