<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <!--/*/ <th:block th:include="page_tpl_fragment :: headerfiles"></th:block> /*/-->
    <title th:text="#{portal.title}">Customs E-portal</title>
</head>
<body class="skin-blue sidebar-mini" style="height: auto;">
<!--start wrapper-->
<div class="wrapper" style="overflow-y: hidden; height: auto;">

    <!--/*/ <th:block th:include="page_tpl_fragment :: header"></th:block> /*/-->
    <!--/*/ <th:block th:include="page_tpl_fragment :: sidebar"></th:block> /*/-->


    <div class="content-wrapper sub-style" style="min-height: 665.8px; background-color: #fff">

        <care-0501001q>
            <div>
                <cmm-page-header>
                    <section class="content-header">
                        <h1 th:text="#{notice.paid.list.label}">
                            Avis non Payes
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <a th:href="@{/portal/}" ><i class="fa fa-home"></i></a>
                            </li>
                            <li><a th:href="@{/portal/list-paid-notice}" th:text="#{notice.label}">Avis de paiement</a></li>
                            <li class="active" th:text="#{notice.paid.list.label}">Avis non Payes</li>
                        </ol>
                    </section>
                </cmm-page-header>
            </div>

            <section class="content">

                <div class="box box-info">
                   <div class="card w-100">
                            <div class="card-body">
                                <h1 th:text="#{portal.error.page}">Portal Error Page</h1>

                                <div  class="row">
                                    <ul class="row">
                                        <li class="active"><a th:href="@{/login}">Sign in</a></li>
                                    </ul> <br/>

                                    <ul class="row">
                                        <li class="active"><a th:href="@{/portal/}">Home</a></li>
                                    </ul> <br/>
                                </div>

                                <!--  As we are using Thymeleaf, you might consider using
                                      ${#httpServletRequest.requestURL}. But that returns the path
                                      to this error page.  Hence we explicitly add the url to the
                                      Model in some of the example code. -->
                                <p th:if="${url}">
                                    <b>Page:</b> <span th:text="${url}">Page URL</span>
                                </p>

                                <p th:if="${timestamp}" id='created'>
                                    <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
                                </p>

                                <p th:if="${status}">
                                    <b>Response Status:</b> <span th:text="${status}">status-code</span>
                                    <!--<span th:if="${error}" th:text="'('+${error}+')'">error ...</span>-->
                                </p>

                                <p>Application has encountered an error. Please contact support on
                                    ...</p>

                                <!--<p>Support may ask you to right click to view page source.</p>-->

                                <!--
                                  // Hidden Exception Details  - this is not a recommendation, but here is
                                  // how you hide an exception in the page using Thymeleaf
                                  -->
                                <div th:utext="'&lt;!--'" th:remove="tag"></div>
                                <div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
                                <div th:utext="'Exception: ' + ${error}" th:remove="tag">${error}</div>
                                <!--<ul th:remove="tag">-->
                                    <!--<li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span-->
                                            <!--th:utext="${ste}" th:remove="tag">${ste}</span></li>-->
                                <!--</ul>-->
                                <!--<div th:utext="'&#45;&#45;&gt;'" th:remove="tag"></div>-->


                                <!--<div th:substituteby="footer :: copy"></div>-->

                            </div>
                        </div>
                    </div>
            </section>
        </care-0501001q>
        </div>
    </div>
<!--/*/ <th:block th:include="login_fragment :: footerfiles"></th:block> /*/-->
<!--<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>-->
<!--<script type="text/javascript" th:src="@{/js/notices.js}"></script>-->
</body>
</html>

