<html
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        layout:decorator="layout">

<head>
    <!--/*/ <th:block th:include="login_fragment :: headerfiles"></th:block> /*/-->
    <title>CAMCIS e-Payment Platform</title>

</head>
<body>
<div layout:fragment="content" class="container">
    <section id="content">
<!-- Page Content -->
            <div class="row">
                <div class="col-md-12">
                    <!--<h2 class="mb-4 header&#45;&#45;primary" th:text="#{customs.paid.list.label}">Paid notices</h2>-->
                    <div class="card w-100">
                        <div class="card-body">
                            <h1 th:text="#{error.page}">Error Page</h1>

                            <div class="row">
                                <ul class="row">
                                    <li class="active"><a th:href="@{/templates/login}">Sign in</a></li>
                                </ul>
                                <br/>
                                <ul class="row">
                                    <li class="active"><a th:href="@{/}">Home</a></li>
                                </ul>
                                <br/>
                            </div>

                            <!--  As we are using Thymeleaf, you might consider using
                                  ${#httpServletRequest.requestURL}. But that returns the path
                                  to this error page.  Hence we explicitly add the url to the
                                  Model in some of the example code. -->
                            <p th:if="${url}">
                                <b>Page:</b> <span th:text="${url}">Page URL</span>
                            </p>

                            <p th:if="${timestamp}" id='created'>
                                <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
                            </p>

                            <p th:if="${status}">
                                <b>Response Status:</b> <span th:text="${status}">status-code</span>
                                <!--<span th:if="${error}" th:text="'('+${error}+')'">error ...</span>-->
                            </p>

                            <p>Application has encountered an error. Please contact support on
                                ...</p>

                            <!--<p>Support may ask you to right click to view page source.</p>-->

                            <!--
                              // Hidden Exception Details  - this is not a recommendation, but here is
                              // how you hide an exception in the page using Thymeleaf
                              -->
                            <div th:utext="'&lt;!--'" th:remove="tag"></div>
                            <div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
                            <div th:utext="'Exception: ' + ${message}" th:remove="tag">${message}
                            </div>
                            <!--<ul th:remove="tag">-->
                                <!--<li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span-->
                                        <!--th:utext="${ste}" th:remove="tag">${ste}</span></li>-->
                            <!--</ul>-->
                            <!--<div th:utext="'&#45;&#45;&gt;'" th:remove="tag"></div>-->


                            <!--<div th:substituteby="footer :: copy"></div>-->

                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
 </body>
</html>

